.board{
    background: #e0e0ff;
    padding: 10px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 10px;
}


.store a{
    width: 100%;
    display: block;
    text-align: center;
    height: 100%;
    border: 1px solid;
    border-radius: 25px;
    padding-top: 30px;
}

.pit , .store {
    padding: 10px;
}

.pit a{
    width: 100%;
    display: block;
    text-align: center;
    height: 100px;
    border: 1px solid;
    border-radius: 25px;
    padding-top: 30px;
}

.pit a:hover , .pit a:active{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.pit.inactive a:hover , .pit.inactive a:active{
    box-shadow: unset;
    cursor: not-allowed;
}

.player.active{
    text-decoration: underline;
}

